@import url("fonts.css");

.list-link{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25vh;
  left: 10vw;
}
.link-menu{
  font-size: 50px;
  margin-bottom: 13px;
  /* max-width:  100%; */
  max-width: 318px;
  text-align:  center;
}
.link-menu:hover{
  color: #2B2B9E;
}

.container-information-menu{
  color: black;
  position: absolute;
  left: 60vw;
  top: 32vh;
}
.title-information-menu{
  color: black;
  margin-left: 0%;
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}
.subtitle-information-menu{
  font-size: 19px;
  margin-top: 10px;
  color: black;
  margin-left: 6%;
  font-weight:  bold;
}
.text-information-menu{
  color: black;
font-size: 19px;
margin-top: 12px;
margin-left: 6%;
width: 100%;
}

.close{
  width: 25px;
    position: absolute;
    left: 4vw;
    top: 7vh;
}
.menu{
  width: 65px;
  position: absolute;
  left: 5%;
  top: 3.5vh;
  h;
}



@media only screen and (min-device-width: 220px) and (max-device-width: 600px) {
.link-menu{
  font-size: 18px;
}
  .list-link{
    top: 35vh;
  }
  .container-information-menu{
    left: 47vw;
    top: 29vh;
  }
}
