h2{
  font-size: 40px;
}

p{
  font-size: 22px;
}

.bold{
  font-weight: bold;
}

@media only screen and (min-device-width: 220px) and (max-device-width: 600px) {
  p{
    font-size: 18px;
  }
}
